
body{
	padding: 50px;
	background-size: 120%;
	background-repeat: none;

}


h2{
	font-family: Prompt;
	font-weight: 100;
	font-size: 60px;
	color: white;
	text-align: left;
}

h1{
	font-family: Prompt;
	font-size: 40px;
	color: white;
	text-align: left;
	margin-bottom: -5px;
}

h3{
	font-family: Prompt;
	font-weight: 200;
	font-size: 15px;
	color: white;
	text-align: left; 
	margin-top: -40px;

}

#container {

}

#exercises {
	font-family: Prompt;
	font-weight: 200;
	font-size: 20px;
	color: white;
	text-align: left; 
}

#projects {

	font-family: Prompt;
	font-weight: 200;
	font-size: 20px;
	color: white;
	text-align: left; 
}



a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	background: magenta;
}


